/* COMMONS */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Mate SC', serif;
}

ul {
    padding: 30px;
    border-radius: 10px;
    margin: auto;
    list-style: none;
    color: #194070;
    background-color: #ffffffbe;
    box-shadow: inset 0px 0px 10px #194070;
}

li {
    margin: 10px 0;
    font-size: 25px;
    font-weight: bold;
}

#root {
    display: flex;
    height: 100vh;
    background-image: url("../img/sfondo.jpg");
    background-position: center;
    background-size: cover;
}